@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: "#036bfa";
  --secondary: "#f4f6f8";
  --text: "#373737";
}

body {
  font-family: "Poppins";
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.search-bar {
  transition: all 1 ease;
}
.outMessage {
  align-self: flex-end;
}
.outMessage p {
  background-color: rgb(59 130 246);
  color: #fff;
  text-align: left;
  display: block;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 0rem !important;
}
.outMessage span {
  right: 0.75rem;
  left: unset;
}
.blue-button {
  background-color: rgb(59 130 246) !important;
  color: #fff !important;
}
